input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder,
textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder,
textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder,
textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder,
textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder,
textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder,
textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder,
textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder,
textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder,
textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder,
textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder,
textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 100%;
}

input {
  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  width: 50vw;
  height: 10vh;
  padding: 0px 15px 0px 15px;

  background: transparent;
  outline: none;
  color: #ffffff;

  border: solid 1px white;
  border-bottom: none;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #6c5b7b8a;
  color: #e2dedb;
}

textarea {
  width: 50vw;
  height: 20vh;
  padding: 15px;

  background: transparent;
  outline: none;

  color: #726659;
  font-family: "Lato", sans-serif;
  font-size: 0.875em;

  border: solid 1px white;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #6c5b7b8a;
  color: #e2dedb;
}

#submit {
  width: 52.7vw;

  padding: 0;
  margin: -5px 0px 0px 0px;

  font-family: "Lato", sans-serif;
  font-size: 0.875em;
  color: #aea7b3;

  outline: none;
  cursor: pointer;

  border: solid 1px white;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

.maincontact {
  display: block;
  position: absolute;
  z-index: 10;
  top: 20%;
  left: 10%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vw;
  height: auto;
  font-family: "neontubes";
  font-size: 1rem;
  text-align: right;
  white-space: nowrap;
}
.maincontact span {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}
.maincontact .webdev {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px hsl(323, 97%, 66%),
    0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px hsl(323, 97%, 66%),
    0 0 100px hsl(323, 97%, 66%), 0 0 200px hsl(323, 97%, 66%),
    0 0 300px hsl(323, 97%, 66%), 0 0 500px hsl(323, 97%, 66%),
    0 0 1000px hsl(323, 97%, 66%);
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}
.maincontact .socod {
  font-size: 4.5rem;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff,
    0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff,
    0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  .maincontact {
    width: 400px;
    font-size: 5rem;
  }

  .maincontact .socod {
    font-size: 5rem;
  }
}

#photocontact {
  position: absolute;
  z-index: 0;
  width: 75vw;
  top: 0;
  right: 0;
}

/**/

form {
  left: -40vh;
  top: 30vh;
}

.contact-txt {
  color: white;
  font-size: 1rem;
  position: absolute;
  left: 50%;
  z-index: 3;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.contact-txt ul {
  list-style: none;
}

.homebarcontact {
  left: -70vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 1rem;
  color: white;
  width: 20vw;
  margin: 5vh;
  top: -5vh;
}
