@font-face {
  font-family: "neontubes";
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
  src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2")
      format("woff2"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff")
      format("woff"),
    url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://use.typekit.net/hps7pzw.css");

* {
  margin: 0;
  padding: 0;
}

body {
  /* 
  background: -webkit-linear-gradient(
    to bottom,
    #c06c84,
    #6c5b7b,
    #355c7d
  ); 
  background: linear-gradient(
    #c06c84,
    #6c5b7b,
    #355c7d
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  width: 100vw;
  font-family: "video", serif;

  font-weight: 400;

  font-style: normal;
}

/* ACCUEIL */

.path2 {
  color: white;
  position: absolute;
  z-index: 3;
  font-size: 3.6rem;
  top: 55vh;
  text-align: right;
  font-family: "Roboto", sans-serif;
  left: 5vw;
}

link {
  color: red;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
}

link:hover {
  color: white;
  text-decoration: none;
  text-shadow: 1px 0px 10px white;
  cursor: url("./background/cursor.png");
}
#logo {
  position: absolute;
  z-index: 0;
  width: 45vw;
  left: -5vw;
  top: 7vh;
  opacity: 0.4;
}

#cadre {
  height: 100vh;
  position: absolute;
  z-index: 2;
  right: 10vw;
  top: 0;
}

#projets {
  position: absolute;
  z-index: 4;
  right: 4vw;
  top: 15vw;
  font-size: 1.5rem;
}

#aboutme {
  position: absolute;
  z-index: 4;
  bottom: 7vh;
  left: 55vw;
  font-size: 1.5rem;
}

#contact {
  position: relative;
  z-index: 4;
  left: 30vw;
  top: 7vh;
  font-size: 1.5rem;
}

#photo {
  position: absolute;
  z-index: 1;
  height: 100vh;
  opacity: 0.9;
  right: 0;
}

.path1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: dash 5s linear forwards;
}

.path2 {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

#svg2 {
  height: 90vh;
  width: 80vw;
  position: absolute;
  z-index: 2;
  right: 5vw;
  top: 5vh;
}

#svg1 {
  height: 70vh;
  width: 60vw;
  position: absolute;
  z-index: 2;
  top: 30vh;
  left: 5vw;
  filter: drop-shadow(2px 1px 8px white);
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

link,
a {
  text-decoration: none;
  color: white;
}

/**/

.main {
  display: block;
  position: absolute;
  z-index: 4;
  top: 65%;
  left: 20%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50vw;
  height: auto;
  font-family: "neontubes";
  font-size: 1rem;
  text-align: right;
  white-space: nowrap;
}
.main span {
  display: block;
  position: relative;
  -webkit-transform: translateZ(0) translate3D(0, 0, 0);
  transform: translateZ(0) translate3D(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: opacity;
}
.main .webdev {
  color: #ffd9e2;
  text-shadow: 0 0 0 transparent, 0 0 10px hsl(323, 97%, 66%),
    0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px hsl(323, 97%, 66%),
    0 0 100px hsl(323, 97%, 66%), 0 0 200px hsl(323, 97%, 66%),
    0 0 300px hsl(323, 97%, 66%), 0 0 500px hsl(323, 97%, 66%),
    0 0 1000px hsl(323, 97%, 66%);
  -webkit-animation: blink 4s infinite alternate;
  animation: blink 4s infinite alternate;
}
.main .socod {
  font-size: 0.5rem;
  color: #d4eaff;
  text-shadow: 0 0 0 transparent, 0 0 10px #2695ff,
    0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff,
    0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
  -webkit-animation: buzz 0.01s infinite alternate;
  animation: buzz 0.01s infinite alternate;
}

@-webkit-keyframes buzz {
  70% {
    opacity: 0.8;
  }
}

@keyframes buzz {
  70% {
    opacity: 0.8;
  }
}
@-webkit-keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@keyframes blink {
  40% {
    opacity: 1;
  }
  42% {
    opacity: 0.8;
  }
  43% {
    opacity: 1;
  }
  45% {
    opacity: 0.2;
  }
  46% {
    opacity: 1;
  }
}
@media screen and (min-width: 1000px) {
  .main {
    width: 400px;
    font-size: 5rem;
  }

  .main .socod {
    font-size: 4rem;
  }
}

/* WRAPPER */
.fade-appear,
.fade-enter {
  opacity: 0;
}
.fade-appear p,
.fade-enter p {
  opacity: 0;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear 150ms, transform 300ms ease-out 150ms;
}
.fade-appear-active p,
.fade-enter.fade-enter-active p {
  opacity: 1;
}
.fade-appear-active p:nth-child(2),
.fade-enter.fade-enter-active p:nth-child(2) {
  transition: opacity 300ms linear 300ms, transform 300ms ease-out 300ms;
}
.fade-appear-active p:nth-child(3),
.fade-enter.fade-enter-active p:nth-child(3) {
  transition: opacity 300ms linear 400ms, transform 300ms ease-out 400ms;
}
.fade-appear-active p:nth-child(4),
.fade-enter.fade-enter-active p:nth-child(4) {
  transition: opacity 300ms linear 500ms, transform 300ms ease-out 500ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 150ms linear, transform 150ms ease-in;
}

h3,
h1,
a,
h4,
svg {
  text-shadow: 0 0 5px #fff;
}
